body {
  font-family: 'Avenir Next', sans-serif;
  text-shadow: 2px 2px #FFFFFF;
	background-color: #A5DF00;
	border: 2px solid white;
	border-radius: 25px;
	border-top: thick double white;
}

#text_input{
	border-radius: 3px;
	margin-bottom: .3cm;
}
#grab{
	margin-bottom: .3cm;
}
input#grab{
    background:url(play.png);
    background-repeat: no-repeat;
    width:40px;
    height:40px;
}

img {
	width: 75%;
	left-margin: auto;
	right-margin: auto;
}

}

#stop{
	padding-top: .5cm;
	color: #DF013A;
	font-size: 30px;
}

#instafeed {
	position: fixed;
	left: 100px;
	top: 120px;
}
#instafeed2 {
	position: fixed;
	left: 100px;
	top: 120px;
}

