@font-face {
    font-family: billabong;
    src: url(billabong.ttf);
}

body {
  font-family: 'avenir next' sans-serif;
  color: #48769C;
  border-top: solid 100px #48769C;	
  background-size: cover;
  background-repeat: no-repeat;
}


#title{
	position: absolute;
	font-family: 'billabong';
	text-align: center;
	top: 5px;
	font-size: 70pt;
	color: white;
}

#text_input{
	border-radius: 6px;
	margin-top: .4cm;
}

#grab{
	margin-bottom: .3cm;
}

input#grab{
    background:url(play.png);
    background-repeat: no-repeat;
    width:40px;
    height:40px;
}


.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

img {
	width: 35%;
	border-top: solid #5B372E 15px;
	border-left: solid #5B372E 15px;
	border-right: solid #5B372E 15px;
	border-bottom: solid #5B372E 70px;
	border-radius: 5px;
}


#stop{
	padding-top: .5cm;
	color: #DF013A;
	font-size: 30px;
}

#instafeed {
	position: absolute;
	width: 100%;

}
#instafeed2 {
	position: absolute;
	width: 100%;
}


