<!DOCTYPE html>
<html>
<head>
  <title>Justashow</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<center>
	<span id="title">Justashow</span>

	<span id="hashtag">#</span>
	<input id="tagInput" placeholder="Enter tag"/>
	<span id="grab" class="glyphicon glyphicon-play" aria-hidden="true"></span><br>

	<div id="instafeed" class="insta center"></div>
	<div id="instafeed2" class="insta center"></div>
	</center>

<%= yield %>
</body>
</html>
