@font-face {
  font-family: billabong;
  src: url(billabong.ttf);
}

body {
  font-family: 'avenir next' sans-serif;
  color: #48769C;
  border-top: solid 120px #48769C;	
  background-size: cover;
  background-repeat: no-repeat;
}

#stripes{
	position:absolute;
	margin-top: 600px;
}

#title{
	position: absolute;
	font-family: 'billabong';
	text-align: center;
	top: 5px;
	font-size: 85px;
	color: white;
}

#hashtag{
	font-family: 'billabong';
	font-size: 20pt;
	color: black;
}

#tagInput{
	border-radius: 6px;
	margin-top: .4cm;
	margin-left: 5px;
	width: 220px;
	height: 30px;
}

#grab{
	margin-bottom: .3cm;
}

.insta {
	position: absolute;
	margin-top: 10px;
	width: 100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

img {
	width: 35%;
	border-top: solid #5B372E 15px;
	border-left: solid #5B372E 15px;
	border-right: solid #5B372E 15px;
	border-bottom: solid #5B372E 70px;
	border-radius: 5px;
}
